{% extends "base.html" %}
{% block content %}
  <!--contacts start-->
  <section class="contacts-section" id="contact">

      <!--google map start-->
      <section class="google-map">
          <div class="map" id="google-map" data-address="{{ conf.google_maps_address }}"></div>
      </section>
      <!--google map end-->

      <!--contacts form start-->

      <div class="form-container">
          <div class="container">
              {% include 'content/partials/contact_form.html' %}
              <div class="contacts-info">
                  <div class="contact-wrap">
                      <p><b>Контактный телефон: </b></p>
                      <p>{{ conf.phone }}</p>
                  </div>
                  <div class="contact-wrap">
                      <p><b>E-mail: </b></p>
                      <p><a href="mailto:{{ conf.email }}">{{ conf.email }}</a></p>
                  </div>
                  <div class="contact-wrap">
                      <p><b>Адрес: </b></p>
                      <p>{{ conf.address }}</p>
                  </div>
              </div>
          </div>


      </div>

      <!--contacts form end-->
  </section>
  <!--contacts end-->
  {% include 'content/partials/popup_response_form.html' %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlgAx5uM4UtPMSzDaVToeNGqe9uNZqRP4"></script>
  {{ block.super }}
{% endblock %}