{% extends 'base.html' %}
{% load static from staticfiles %}

{% block bot_header %}
  <li class="masonic-eye" id="bot-open"><a href="#"></a></li>
{% endblock %}

{% block bot_body %}
{% include 'bot/bot.html' %}
{% endblock %}

{% block left_menu %}
      <a href="{% if conf.show_about %}#history{% else %}#!{% endif %}">История</a>
      <a href="{% if conf.show_clients %}#clients{% else %}#!{% endif %}">Клиенты</a>
      <a href="{% if conf.show_portfolio %}#portfolio{% else %}{% url 'content:portfolio' %}{% endif %}">Портфолио</a>
      <a href="{% if conf.show_contacts %}#contact{% else %}{% url 'content:contacts' %}{% endif %}">Контакты</a>
{% endblock %}

{% block content %}

  {% if conf.show_about %}
  <section class="history-section" id="history">
    <div class="container">
      <!--history block start-->
      <div class="tagline">
        <p><span></span>{{ conf.about_slogan }}</p>
        <h2>{{ conf.about_slogan_text }}</h2>
      </div>
      <hr width="2px" color="#fff" size='429px'>
      <div class="history">
          <h2>ИСТОРИЯ</h2>
          {{ conf.about_text|linebreaks }}
      </div>

      <p class="unruled-in-numbers">Unruled в цифрах</p>
      <div class="statistics">
          {% for number in unruled_numbers %}
          <div class="statistics__block">
              <p>{{ number.number }}</p>
              <p>{{ number.measure_unit }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--history block end-->
  {% endif %}

  {% if conf.show_clients %}
  <!--clients start-->
  <section class="clients-section" id="clients">
      <div class="container">
          <h2 class="clients-section__title">НАШИ КЛИЕНТЫ</h2>
          <div class="clients-wrap">
              {% for client in clients %}
                <a href=#! class="clients-section__client client shadow" style="background-image:url('{{ client.logo.url }}');"></a>
              {% endfor %}
              <a href="#!" class="more-clients-btn">Смотреть еще</a>
          </div>
      </div>
  </section>
  <!--clients end-->
  {% endif %}


  {% if conf.show_why_unruled %}
  <!--why unruled start-->
  <section class="unruled">
      <div class="container">
          <h2 class="unruled__title">ПОЧЕМУ UNRULED</h2>
          <div class="advantages">
            {% for reason in why_unruled %}
              <div class="advantage">
                  <p class="advantage__icon" style="background-image: url('{{ reason.icon.url }}');"></p>
                  <p class="advantage__text">{{ reason.text }}</p>
              </div>
            {% endfor %}
          </div>
          <a href="#!" class="open-project-btn pop-up-form-open">Открыть проект</a>
      </div>
  </section>

  <!--why unruled end-->
  {% endif %}


  {% if conf.show_portfolio %}
  <!--portfolio start-->
  <section class="portfolio-section" id="portfolio">
      <div class="container">
          <h2 class="portfolio-section__title">ПОРТФОЛИО</h2>

          <div class="portfolio">
              {% for item in portfolio_list %}
              <div class="portfolio__project project">
                  <p class="project__img shadow" style="background-image:url({{ item.image.url }})"></p>
                  <div class="project__info">
                      <p class="project__info__title">{{ item.name }}</p>
                      <p class="project__info__text">{{ item.short_description }}</p>
                      <p class="project__btns">
                          <a href="{{ item.get_absolute_url }}" class="project__btn project__btn-more">Посмотреть</a>
                          <a href="#!" class="project__btn project__btn-buy pop-up-form-open" data-project-id="{{ item.id }}"></a>
                      </p>
                  </div>
              </div>
            {% endfor %}

              <a href="{% url 'content:portfolio' %}" class="portfolio__btn-more">Смотреть еще</a>
          </div>

      </div>
  </section>

  <!--portfolio end-->
  {% endif %}

  {% if extra_blocks %}
    <!-- extra block start -->
    {% for extra_block in extra_blocks %}

    <div class="extra-block">
        <div class="container">
          {{ extra_block.html|safe }}
        </div>
    </div>
    {% endfor %}
    <!-- extra block end -->
  {% endif %}

  {% if conf.show_contacts %}
  <!--contacts start-->
  <section class="contacts-section" id="contact">

      <!--google map start-->
      <section class="google-map">
          <div class="map" id="google-map" data-address="{{ conf.google_maps_address }}"></div>
      </section>
      <!--google map end-->

      <!--contacts form start-->

      <div class="form-container">
          <div class="container">
              {% include 'content/partials/contact_form.html' %}
              <div class="contacts-info">
                  <div class="contact-wrap">
                      <p><b>Контактный телефон: </b></p>
                      <p>{{ conf.phone }}</p>
                  </div>
                  <div class="contact-wrap">
                      <p><b>E-mail: </b></p>
                      <p><a href="mailto:{{ conf.email }}">{{ conf.email }}</a></p>
                  </div>
                  <div class="contact-wrap">
                      <p><b>Адрес: </b></p>
                      <p>{{ conf.address }}</p>
                  </div>
              </div>
          </div>


      </div>

      <!--contacts form end-->
  </section>
  <!--contacts end-->
  {% endif %}

  {% include 'content/partials/popup_form.html' %}
  {% include 'content/partials/popup_response_form.html' %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlgAx5uM4UtPMSzDaVToeNGqe9uNZqRP4"></script>
  {{ block.super }}
{% endblock %}