{% extends 'base.html' %}
{% load static from staticfiles %}

{% block bot_header %}
  <li class="masonic-eye" id="bot-open"><a href="#"></a></li>
{% endblock %}

{% block content %}
  {% include 'bot/bot.html' with bot=conf.bot_question %}

  <!-- TODO: styling -->
  {% if conf.block_trap_text %}
  <section class="history-section">
    <div class="container">
      <p>{{ conf.block_trap_text }}</p>
    </div>
  </section>
  {% endif %}

  <!-- TODO: styling, fixed header offset, anchor linking method -->
  <section class="history-section">
    <div class="container">
      <div class="left-menu">
        <nav>
            {% if conf.show_about %}<a href="#history">История</a> {% endif %}
            {% if conf.show_clients %}<a href="#clients">Клиенты</a> {% endif %}
            {% if conf.show_portfolio %}<a href="#portfolio">Портфолио</a> {% endif %}
            {% if conf.show_contacts %}<a href="#contacts">Контакты</a> {% endif %}
        </nav>
      </div>

    {% if conf.show_about %}
    <!--history block start-->
    <div id="history" class="tagline">
        <p><span></span>{{ conf.about_slogan }}</p>
    </div>
    <hr width="2px" color="#fff" size='429px'>
    <div class="history">
        <h2>ИСТОРИЯ</h2>
        {{ conf.about_text }}
    </div>

    <!-- TODO: styling -->
    <p class="unruled-in-numbers">Unruled в цифрах</p>
    <div class="statistics">
        {% for number in unruled_numbers %}
        <div class="statistics__block">
            <p>{{ number.number }}</p>
            <p>{{ number.measure_unit }}</p>
        </div>
      {% endfor %}
    </div>
    <!--history block end-->
    {% endif %}
  </div>
  </section>

  {% if conf.show_clients %}
  <!-- TODO: styling -->
  <!--clients start-->
  <section id="clients" class="clients-section">
      <div class="container">
          <h2 class="clients-section__title">НАШИ КЛИЕНТЫ</h2>
          <div class="clients-wrap">
              {% for client in clients %}
                <img src="{{ client.logo.url }}">
              {% endfor %}
              <a href="#" class="more-clients-btn">Смотреть еще</a>
          </div>
      </div>
  </section>
  <!--clients end-->
  {% endif %}


  {% if conf.show_why_unruled %}
  <!--why unruled start-->
  <!-- TODO: styling -->
  <section class="unruled">
      <div class="container">
          <h2 class="unruled__title">ПОЧЕМУ UNRULED</h2>
          <div class="advantages">
            {% for reason in why_unruled %}
              <div class="advantage">
                  <p><img src="{{ reason.icon.url }}"></p>
                  <p class="advantage__text">{{ reason.text }}</p>
              </div>
            {% endfor %}
          </div>
          <a href="#!" class="open-project-btn pop-up-form-open">Открыть проект</a>
      </div>
  </section>

  <!--why unruled end-->
  {% endif %}


  {% if conf.show_portfolio %}
  <!--portfolio start-->
  <!-- TODO: styling -->
  <section id="portfolio" class="portfolio-section">
      <div class="container">
          <h2 class="portfolio-section__title">ПОРТФОЛИО</h2>

          <div class="portfolio">
              {% for item in portfolio_list %}
              <div class="portfolio__project project">
                  <p class="project__img shadow" style="background-image:url({{ item.image.url }})"></p>
                  <div class="project__info">
                      <p class="project__info__title">{{ item.name }}</p>
                      <p class="project__info__text">{{ item.short_description }}</p>
                      <p class="project__btns">
                          <a href="{{ item.get_absolute_url }}" class="project__btn project__btn-more">Посмотреть</a>
                      </p>
                  </div>
              </div>
            {% endfor %}

              <a href="{% url 'content:portfolio' %}" class="portfolio__btn-more">Смотреть еще</a>
          </div>

      </div>
  </section>

  <!--portfolio end-->
  {% endif %}

  {% if conf.show_team %}
  <!--team section start-->

  <section class="team-section">
      <div class="container">
          <div class="team-panel">
              <div class="team-panel__nav">
                  <a href="#!" class="team-panel__nav__link"></a>
                  <a href="#!" class="team-panel__nav__link"></a>
                  <a href="#!" class="team-panel__nav__link"></a>
                  <a href="#!" class="team-panel__nav__link"></a>
                  <a href="#!" class="team-panel__nav__link"></a>
              </div>
              <div class="team-members-panel">
                  <div class="team-members-panel__group">
                      <a href="#!" class="member">Иванов Иван</a>
                      <a href="#!" class="member">Иванов Иван</a>
                  </div>
                  <div class="team-members-panel__group">
                      <a href="#!" class="member">Иванов Иван</a>
                      <a href="#!" class="member">Иванов Иван</a>
                  </div>
                  <div class="team-members-panel__group">
                      <a href="#!" class="member">Иванов Иван</a>
                      <a href="#!" class="member">Иванов Иван</a>
                  </div>
              </div>
          </div>

          <!--member profile start-->

          <div class="member-profile">
              <div class="member-profile__decs profile-desc">
                  <p class="profile-desc__title profile-desc__title--model">Модель: </p>
                  <p class="profile-desc__text profile-desc__text--model">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Excepteur sint </p>
                  <p class="profile-desc__title profile-desc__title--mission">Предназначение: </p>
                  <p class="profile-desc__text profile-desc__text--mission">должность</p>
                  <p class="profile-desc__title profile-desc__title--description">Описание: </p>
                  <p class="profile-desc__text profile-desc__text--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Excepteur sint<br> occade
                      omnis onsectetur, adipisci velit, sed quia non numquam eius modi </p>
              </div>

              <div class="member-profile__pic"><img src="{% static '/img/member-pic.jpg' %}" alt="member"></div>
              <div class="member-profile__powers">
                  <p class="member-profile__power-title">Сила</p>
                  <div class="member-profile__power">
                      <p class="member-profile__power__hits">300</p>
                      <p class="member-profile__power__text">Часов<br> дизайна</p>
                  </div>

                  <div class="member-profile__socials">
                      <a href="#!" class="member-profile__socials__link member-profile__socials__link--fb"></a>
                      <a href="#!" class="member-profile__socials__link member-profile__socials__link--twitter"></a>
                      <a href="#!" class="member-profile__socials__link member-profile__socials__link--linkedin"></a>
                  </div>
              </div>
          </div>

          <!--member profile end-->
      </div>
  </section>

  <!--team section end-->
  {% endif %}

  {% if conf.show_contacts %}
  <!--contacts start-->
  <section id="contacts" class="contacts-section">

    <!--google map start-->
    <section class="google-map">
        <div class="map" id="google-map" data-address="{{ conf.google_maps_address }}"></div>
    </section>
    <!--google map end-->

    <!--contacts form start-->

    <div class="form-container">
        <div class="container">
            <div class="form-wrap">
                <form action="{% url 'content:contacts' %}" class="contact-us-form" method="POST">
                    {% csrf_token %}
                    <!--input name start-->

                    <div class="contact-us-form__input-container">
                        <div class="contact-us-form__input-wrap">
                          {% if form.name.errors %}
                          <p class="contact-us-form__input-wrap__vldtn-wrap"><span class="">Незаполненое поле</span></p>
                          {% endif %}
                          <p><input class="contact-us-form__input contact-us-form__input-name" type="text" name="name"
                                  value="{{ form.name.value }}" placeholder="Имя"></p>
                        </div>
                    </div>

                    <!--input name end-->

                    <!--input email start-->

                    <div class="contact-us-form__input-container">
                        <div class="contact-us-form__input-wrap">
                          {% if form.email.errors %}
                          <p class="contact-us-form__input-wrap__vldtn-wrap"><span class="">Неправильно введен e-mail</span></p>
                          {% endif %}
                          <p><input class="contact-us-form__input contact-us-form__input-email" type="email" name="email"
                                  value="{{ form.email.value }}" placeholder="E-mail"></p>
                        </div>
                    </div>

                    <!--input email end-->

                    <!--message textarea start-->

                    <div class="contact-us-form__input-container">
                        <div class="contact-us-form__input-wrap">
                          {% if form.text.errors %}
                          <p class="contact-us-form__input-wrap__vldtn-wrap"><span class="">Вы не ввели текст сообщения</span></p>
                          {% endif %}
                          <p><textarea class="contact-us-form__input contact-us-form__input-message" type="text" name="text"
                                  placeholder="Ваше сообщение">{{ form.text.value }}</textarea></p>
                        </div>
                    </div>

                    <!--message textarea end-->

                    <!--form submit btn start-->

                    <div class="contact-us-form__input-container">
                        <div class="contact-us-form__input-wrap contact-us-form__input-wrap--submit">
                            <p class="contact-us-form__input-wrap__vldtn-wrap error-hide"><span class="">Ошибка формы</span></p>
                            <p><input class="contact-us-form__input contact-us-form__input-submit" type="submit"
                                    value="Отправить"></p>
                        </div>
                    </div>

                    <!--form submit btn end-->
                </form>
            </div>
        </div>
    </div>

    <!--contacts form end-->
  </section>
  <!--contacts end-->
  {% endif %}

  {% if extra_blocks %}
    {% for extra_block in extra_blocks %}
      {{ extra_block.html|safe }}
    {% endfor %}
  {% endif %}

  {% if conf.show_why_unruled %}
      <!--pop-up form start-->

    <section class="popup">
        <div class="popup__form-wrap">
            <a href="#!" class="popup__close">x</a>

            <form action="" class="popup-form">
                <div class="popup-form__input-wrap">
                    <p class="popup-form__error error-hide"><span>Незаполненое поле</span></p>
                    <p><input type="text" class="popup-form__input" name="name" placeholder="Ваше имя"></p>
                </div>

                <div class="popup-form__input-wrap">
                    <p class="popup-form__error error-hide"><span>Неверно введены данные</span></p>
                    <p><input type="text" class="popup-form__input" name="phoneoremail" placeholder="Ваш телефон или e-mail"></p>
                </div>

                <div class="popup-form__input-wrap">
                    <p class="popup-form__error error-hide"><span>Незаполненое поле</span></p>
                    <p><textarea type="text" class="popup-form__input popup-form__input--textarea" name="projectdesc" placeholder="Описание проекта"></textarea></p>
                </div>

                <div class="popup-form__input-wrap">
                    <p class="popup-form__upload-desc">Прикрепить Бизнес Требования / Техническое задание</p>
                    <div class="popup-form__upload-wrap">
                        <label for="uploadfile" class="popup-form__input-upload-label"></label>
                        <input type="file" class="popup-form__input-upload" name="uploadfile" id="uploadfile">
                        <div class="popup-form__upload-file-name"></div>
                    </div>
                </div>

                <div class="popup-form__input-wrap popup-form__input-wrap-submit">
                    <p class="popup-form__error error-hide"><span>Ошибка формы</span></p>
                    <p><input type="submit" class="popup-form__input popup-form__input-submit" name="submit" value="Отправить"></p>
                </div>

            </form>
        </div>
    </section>

  <!--pop-up form end-->
  {% endif %}
{% endblock %}
