{% extends "base.html" %}

{% block left_menu %}
{% endblock %}
{% block content %}
  <!--project description section start-->

  <section class="gallery-section">
      <div class="gallery-section__desc-bg">
          <div class="container">

              <div class="gallery-section__desc-block desc-block">
                  <p class="desc-block__release">Дата релиза {{ portfolio.release_date }}</p>
                  <h1>{{ portfolio.name }}</h1>
                  {% if portfolio.url %}
                  <h2>{{ portfolio.url }}</h2>
                  {% endif %}

                  <div>
                      <p><b>Краткое описание проекта:</b> {{ portfolio.short_description }}
                      </p>

                      <p><b>Подробное описание проекта:</b> {{ portfolio.detailed_description }}
                      </p>
                  </div>
              </div>

              <div class="gallery-section__gallery-nav gallery-nav">
                {% if prev_portfolio != None %}
                <a href="{{ prev_portfolio }}" class="gallery-nav__arrow gallery-nav__arrow--prev">Назад</a>
                {% endif %}

                {% if next_portfolio != None %}
                <a href="{{ next_portfolio }}" class="gallery-nav__arrow gallery-nav__arrow--next">Вперед</a>
                {% endif %}

                <a href="#!" class="gallery-section__btn pop-up-form-open" data-project-id="{{ portfolio.id }}">Заказать проект</a>

              </div>

          </div>
      </div>

      <!--screenshots start-->
      <div class="gallery-screenshots">
          <div class="container">
              {% for image in portfolio.images.all %}
                <div class="screentshot">
                  <a href="#!" class="screenshot-btn"><img src="{{ image.image.url }}" alt="screenshot"></a>
                </div>
              {% endfor %}
          </div>

          <!-- TODO: screenshot popup dynamic -->
          <!--screenshot pop up start-->

          <div class="screenshot-popup">
              <div class="container">
                  <div class="screenshot-popup__img-wrap">
                      <a href="#!" class="screenshot-popup__close">X</a>
                      <div class="screenshot-popup__img">
                          <img src="" alt="big-screentshot">
                      </div>
                  </div>
              </div>
          </div>

          <!--screenshot pop up end-->
      </div>
      <!--screenshots end-->

  </section>
  <!--project description section end-->
  {% include 'content/partials/popup_form.html' %}
  {% include 'content/partials/popup_response_form.html' %}
{% endblock %}