{% extends "base.html" %}

{% block content %}
  <!--portfolio start-->
  <section class="portfolio-section portfolio-section--full">
      <div class="container">
          <div class="portfolio">
            {% for item in portfolio_list %}
              <div class="portfolio__project project">
                  <p class="project__img shadow" style="background-image:url({{ item.image.url }})"></p>
                  <div class="project__info">
                      <p class="project__info__title">{{ item.name }}</p>
                      <p class="project__info__text">{{ item.short_description }}</p>
                      <p class="project__btns">
                          <a href="{{ item.get_absolute_url }}" class="project__btn project__btn-more">Посмотреть</a>
                          <a href="#!" class="project__btn project__btn-buy pop-up-form-open" data-project-id="{{ item.id }}"></a>
                      </p>
                  </div>
              </div>
            {% endfor %}

            <!-- TODO: styling inactive links -->
            {% if is_paginated %}
              <div class="portfolio__navigation">
                <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" class="portfolio__navigation__arrows portfolio__navigation__arrows--prev {% if not page_obj.has_previous %}portfolio__navigation__arrows--inactive{% endif %}"></a>
              <div class="portfolio__pagination">
                {% for page in paginator.page_range %}
                <a href="?page={{ page }}" class="portfolio__pagination-link portfolio__pagination{% if page_obj.number == page %}--active{% endif %}">{{ page }}</a>
                {% endfor %}
              </div>
                <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" class="portfolio__navigation__arrows portfolio__navigation__arrows--next {% if not page_obj.has_next %}portfolio__navigation__arrows--inactive{% endif %}"></a>
              </div>
            {% endif %}
          </div>

      </div>
  </section>

  <!--portfolio end-->
{% endblock %}