<div class="bot-section" id="bot">
    <section class="greeting shadow">
        <div class="container">
            <div class="left-block" id="bot-greeting">
                <!-- <h1>добрый день!</h1>
                <h2>
                    Вас приветствует</br> бот компании Unruled
                </h2>
                <p>Можем решить любую Вашу проблему</p> -->
            </div>
            <div class="right-block">
                <p id="bot-question">какая у вас проблема?</p>
                <ul id="bot-answers-list">
                    <!-- <li><a href="#!">У меня нет сайта</a></li>
                    <li><a href="#!">Мне нужен сайт-визитка</a></li>
                    <li><a href="#!">Мне нужен интернет-магазин</a></li>
                    <li><a href="#!">Мне нужен лэндинг</a></li>
                    <li><a href="#!">Мне нужен новостной сайт</a></li>
                    <li><a href="#!">Хочу обсудить лично</a></li> -->
                </ul>
                <a href="#!" id="bot-disable-btn">Выключить бота</a>
            </div>
        </div>
    </section>
    <div class="instruction">
        <div class="container">
            <div class="steps">
                <div class="steps__step">{{ conf.trap_block_text_1|linebreaksbr }}</div>
                <div class="steps__step">{{ conf.trap_block_text_2|linebreaksbr }}</div>
                <div class="steps__step">{{ conf.trap_block_text_3|linebreaksbr }}</div>
                <div class="steps__step">{{ conf.trap_block_text_4|linebreaksbr }}</div>
            </div>
            <div class="instruction__img"></div>
        </div>
    </div>



</div>

<!--bot section with form-->
<div class="bot-section bot-form-section" id="bot-form-section" style="display: none;">
    <section class="greeting shadow">
        <div class="container">
            <div class="left-block">
                <h1>Спасибо за Ваш ответ!</h1>
                <h2>Оставьте контакты</h2>
                <p>и с Вами свяжется наш сотрудник!</p>
            </div>
            <div class="right-block">
                <p class="bot-form-title">Получить Просчет проекта</p>
                <form class="bot-form" id="bot-form">
                    <p class="input-wrap"><input type="text" class="bot-form__input bot-form__input--name" name="name" placeholder="Ваше имя"
                            id="bot-form-name" value=""></p>
                    <p class="input-wrap"><input type="email" class="bot-form__input bot-form__input--contact" name="contact" placeholder="Ваш e-mail"
                            id="bot-form-contact" value=""></p>


                    <p><input type="submit" class="bot-form__input bot-form__submit" value="Отправить" id="bot-form-submit"></p>

                </form>
            </div>
        </div>
    </section>
    <div class="instruction">
        <div class="container">
            <div class="steps">
                <div class="steps__step">Ответьте<br> на вопросы</div>
                <div class="steps__step">Получите<br> бонус</div>
                <div class="steps__step">Откройте<br> проект</div>
                <div class="steps__step">Получите<br> результат</div>
            </div>
            <div class="instruction__img"></div>
        </div>
    </div>
</div>
