{% load static from staticfiles %}
{% load get_solo from solo_tags %}
{% get_solo 'config.SiteConfiguration' as conf %}
{% load counters %}

<!DOCTYPE html>
<html lang="ru">

{% block head %}
<head>

  <title>{% block title %}{{ conf.brand_name }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
{% endblock %}

<body>

<!-- header start -->
<header class="header">
  <div class="header__top-line-wrap">
      <div class="top-line shadow">
          <div class="container">
              <div class="top-menu">
                  <a href="/" class="logo"></a>
                  <p class="top-menu__title">{{ conf.about_slogan }}</p>
                  <ul class="menu-wrap">
                      <li class="menu">
                          <a href="#">Меню</a>
                          <ul class="shadow">
                              <li>
                                  {% for item in menu_items %}
                                  <a href="{{ item.url }}">{{ item.title }}{% if item.indicator != None %}<span>{{ item.indicator }}</span>{% endif %}</a>
                                  {% endfor %}
                              </li>
                          </ul>
                      </li>
                      <li class="menu-counter"><a href="#">{% count_portfolio %}</a></li>
                      {% block bot_header %}{% endblock %}
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>
<!--header end-->

<content>
{% block bot %}
{% endblock %}
{% block left_menu %}
  <section class="history-section">
    <div class="container">
      <div class="left-menu">
        <nav>
            <a href="#!">История</a>
            <a href="#!">Клиенты</a>
            <a href="{% url 'content:portfolio' %}">Портфолио</a>
            <a href="{% url 'content:contacts' %}">Контакты</a>
        </nav>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
{% endblock %}
</content>

<!--footer start-->

<footer class="footer">
    <div class="container">
        <div class="footer__socials">
            <div class="footer__logo"></div>
            <a href="#!" class="social social__facebook"></a>
            <a href="#!" class="social social__twitter"></a>
            <a href="#!" class="social social__linkedin"></a>
            <a href="#!" class="social social__behance"></a>
        </div>
        <div class="footer__nav">

            <div class="about-company">
                <h2 class="footer__nav__title about-company__title"><a href="#!">О КОМПАНИИ</a></h2>
                <a href="#!" class="footer__nav__link">История</a>
                <a href="#!" class="footer__nav__link">Клиенты</a>
                <a href="#!" class="footer__nav__link">Портфолио &nbsp <span>15</span></a>
                <a href="#!" class="footer__nav__link">Команда</a>
                <a href="#!" class="footer__nav__link">Контакты</a>
            </div>

            <div class="news">
                <h2 class="footer__nav__title news__title"><a href="#!">НОВОСТИ</a></h2>
                <a href="#!" class="footer__nav__link">Новости &nbsp <span>7</span></a>
                <a href="#!" class="footer__nav__link">Вакансии &nbsp <span>3</span></a>
                <a href="#!" class="footer__nav__link">Технологии</a>
                <a href="#!" class="footer__nav__link">Документы</a>
            </div>

            <div class="to-clients">
                <h2 class="footer__nav__title to-clients__title"><a href="#!">КЛИЕНТАМ</a></h2>
                <a href="#!" class="footer__nav__link">Заказать звонок</a>
                <a href="#!" class="footer__nav__link">Открыть проект</a>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->

{% block scripts %}
  <!--sripts-->
  <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
</body>

</html>