{% load static from staticfiles %}
{% load get_solo from solo_tags %}
{% get_solo 'config.SiteConfiguration' as conf %}
{% load counters %}
{% count_portfolio as portfolio_indicator %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>

  <title>{% block title %}{{ conf.brand_name }}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
{% endblock %}

<body>

<!-- header start -->
<header class="header">
  <div class="header__top-line-wrap">
      <div class="top-line shadow">
          <div class="container">
              <div class="top-menu">
                  <a href="/" class="logo"></a>
                  <p class="top-menu__title">{{ conf.about_slogan }}</p>
                  <ul class="menu-wrap">
                      <li class="menu">
                          <a href="#">Меню</a>
                          <ul class="shadow">
                              <li>
                                  {% for item in menu_items.header_items %}
                                  <a href="{{ item.url }}">{% menu_item_title item %}</a>
                                  {% endfor %}
                              </li>
                          </ul>
                      </li>
                      <li class="menu-counter"><a href="#">{{ portfolio_indicator }}</a></li>
                      {% block bot_header %}{% endblock %}
                  </ul>
              </div>
          </div>
      </div>
  </div>
  {% block bot_body %}{% endblock %}
  {% block trap_block %}{% endblock %}
</header>
<!--header end-->

{% if not left_menu_hide %}
<!-- TODO: наезжает на основные секции (разр. 1600х900) -->
<div class="wrap-for-left-menu">

  <div class="left-menu" id="smoothscroll">
    <nav>
        {% block left_menu %}
        <a href="#!">История</a>
        <a href="#!">Клиенты</a>
        <a href="{% url 'content:portfolio' %}">Портфолио</a>
        <a href="{% url 'content:contacts' %}">Контакты</a>
        {% endblock %}
    </nav>
  </div>
{% endif %}
  {% block content %}
  {% endblock %}

  <!--footer start-->

  <footer class="footer">
      <div class="container">
          <div class="footer__socials">
              <div class="footer__logo"></div>
              {% if conf.social_facebook %}
              <a href="{{ conf.social_facebook }}" class="social social__facebook"></a>
              {% endif %}
              {% if conf.social_twitter %}
              <a href="{{ conf.social_twitter }}" class="social social__twitter"></a>
              {% endif %}
              {% if conf.social_linkedin %}
              <a href="{{ conf.social_linkedin }}" class="social social__linkedin"></a>
              {% endif %}
              {% if conf.social_behance %}
              <a href="{{ conf.social_behance }}" class="social social__behance"></a>
              {% endif %}
          </div>
          <div class="footer__nav">
            <!-- TODO: generic styling -->
            {% for item in menu_items.footer_items %}
              <div class="about-company">
                <h2 class="footer__nav__title about-company__title"><a href="{{ item.url }}">{{ item.title }}</a></h2>
                {% for child in item.get_children %}
                <a href="{{ child.url }}" class="footer__nav__link">{% menu_item_title child %}</a>

                {% endfor %}
              </div>
            {% endfor %}

          </div>
      </div>
  </footer> <!--footer end-->
{% if not left_menu_hide %}</div> <!-- wrap-for-left-menu end -->{% endif %}

{% block scripts %}
  <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
</body>

</html>